<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KWPlayer.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0845390340ADC0118BEE7EB871393B1A962198CC</string>
				<key>dateExpires</key>
				<string>2018/10/12</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0845390340ADC0118BEE7EB871393B1A962198CC</string>
						<key>dateExpires</key>
						<string>2018/10/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>G33MN8M2BW.com.yeelion.kwplayer.KWIMessageExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>G33MN8M2BW</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.yeelion.kwplayer</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>KWIMessageExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>9e693a66-b03d-4772-8621-87b30f4f5297</string>
						<key>name</key>
						<string>KWIMessageExtension_adhoc</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G33MN8M2BW</string>
						<key>name</key>
						<string>Kuwo Tianjin Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0845390340ADC0118BEE7EB871393B1A962198CC</string>
						<key>dateExpires</key>
						<string>2018/10/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>G33MN8M2BW.com.yeelion.kwplayer.KWNotificationContent</string>
						<key>aps-environment</key>
						<string>production</string>
						<key>com.apple.developer.team-identifier</key>
						<string>G33MN8M2BW</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>KWNotificationContent.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>53e661ef-cba2-4367-9259-5c76c32d07bb</string>
						<key>name</key>
						<string>KWNotificationContent_adhoc</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G33MN8M2BW</string>
						<key>name</key>
						<string>Kuwo Tianjin Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0845390340ADC0118BEE7EB871393B1A962198CC</string>
						<key>dateExpires</key>
						<string>2018/10/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>G33MN8M2BW.com.yeelion.kwplayer.KWNotificationService</string>
						<key>aps-environment</key>
						<string>production</string>
						<key>com.apple.developer.team-identifier</key>
						<string>G33MN8M2BW</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.yeelion.kwplayer</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>KWNotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>3a37bdae-9544-4bf0-ba1b-5f08fb0518a7</string>
						<key>name</key>
						<string>KWNotificationService_adhoc</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G33MN8M2BW</string>
						<key>name</key>
						<string>Kuwo Tianjin Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0845390340ADC0118BEE7EB871393B1A962198CC</string>
						<key>dateExpires</key>
						<string>2018/10/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>G33MN8M2BW.com.yeelion.kwplayer.KWWedgit</string>
						<key>com.apple.developer.team-identifier</key>
						<string>G33MN8M2BW</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.yeelion.kwplayer</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>KWWedgit.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>3a27f1ae-c173-4fe6-9722-3a39ae5d7664</string>
						<key>name</key>
						<string>iPhone_wedgit_adhoc</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G33MN8M2BW</string>
						<key>name</key>
						<string>Kuwo Tianjin Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7k</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0845390340ADC0118BEE7EB871393B1A962198CC</string>
						<key>dateExpires</key>
						<string>2018/10/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>armv7k</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>0845390340ADC0118BEE7EB871393B1A962198CC</string>
								<key>dateExpires</key>
								<string>2018/10/12</string>
								<key>type</key>
								<string>iOS Distribution</string>
							</dict>
							<key>entitlements</key>
							<dict>
								<key>application-identifier</key>
								<string>G33MN8M2BW.com.yeelion.kwplayer.watchkitapp.watchkitextension</string>
								<key>com.apple.developer.team-identifier</key>
								<string>G33MN8M2BW</string>
								<key>get-task-allow</key>
								<false/>
							</dict>
							<key>name</key>
							<string>watchKit Extension.appex</string>
							<key>profile</key>
							<dict>
								<key>UUID</key>
								<string>a0a367b5-c44e-46c8-ba67-3256e3ec3eb4</string>
								<key>name</key>
								<string>watchkitextension_adhoc</string>
							</dict>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>G33MN8M2BW</string>
								<key>name</key>
								<string>Kuwo Tianjin Co., Ltd.</string>
							</dict>
						</dict>
					</array>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>G33MN8M2BW.com.yeelion.kwplayer.watchkitapp</string>
						<key>com.apple.developer.team-identifier</key>
						<string>G33MN8M2BW</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>G33MN8M2BW.com.yeelion.kwplayer.watchkitapp</string>
						</array>
					</dict>
					<key>name</key>
					<string>watchKit.app</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>0dd008b0-9809-468b-8a69-d1062e07393f</string>
						<key>name</key>
						<string>watchkitapp_adhoc</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G33MN8M2BW</string>
						<key>name</key>
						<string>Kuwo Tianjin Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WT3FB32U6W.com.yeelion.kwplayer</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:kwmiosjump.kuwo.cn</string>
				</array>
				<key>com.apple.developer.playable-content</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>G33MN8M2BW</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.yeelion.kwplayer</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>KWPlayer.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>98dc953d-c724-4f88-9508-58f1b73578e2</string>
				<key>name</key>
				<string>iPhone_adhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>G33MN8M2BW</string>
				<key>name</key>
				<string>Kuwo Tianjin Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
